* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    animation: anime2 15s 0s linear infinite;
    transform-style: preserve-3d;
}
.red-box {
    background: red;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    animation: anim 15s 0s linear infinite;
    color: white;
}
.blue-box {
    background: blue;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    animation: anime 15s 0s linear infinite;
    color: white;
}
@keyframes anime {
    0% {
        transform: perspective(500px)
        rotate(0deg)
        translateZ(0px);
    }
    100% {
        transform: perspective(500px)
        rotate(360deg)
        translateZ(0px);
    }
}
@keyframes anim {
    0% {
        transform: perspective(500px)
        rotate(360deg)
        translateZ(30px);
    }
    100% {
        transform: perspective(500px)
        rotate(0deg)
        translateZ(30px);
    }}
@keyframes anime2 {
    0% {
        transform: rotateY(360deg)

    }
    100% {
        transform: rotateY(0deg)

    }
}


